@model ENT.clsPersona

<h1>@ViewData["Saludo"] @Model.Nombre</h1>
<h2>@ViewBag.FechaActual</h2>
<ul>
    <li>ID: @Model.Id</li>
    <li>NOMBRE: @Model.Nombre</li>
    <li>APELLIDO: @Model.Apellido</li>
    
</ul>
